doctype html
<!--[if IE 6]>
html.ie6
<![endif]-->
<!--[if IE 7]>
html.ie7
<![endif]-->
<!--[if IE 8]>
html.ie8
<![endif]-->
<!--[if IE 9]>
html.ie9
<![endif]-->
<!--[if(gt IE 9)|!(IE)]><!-->
html <!--<![endif]-->
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible',content='IE=edge' )
        block title
        meta(name='viewport',content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
        meta(name='mobile-web-app-capable',content='yes' )
        meta(name='apple-mobile-web-app-capable',content='yes' )
        meta(name='apple-mobile-web-app-capable-style',content='blank' )
        meta(name='apple-mobile-web-app-title',content='' )
        meta(name='format-detection',content='telephone=no,email=no' )
        meta(name='keywords', content='#{keywords}')
        meta(name='description',content='#{description}')
        link(rel='shortcut icon',href='favicon.ico' )  
        block head
    body
        <!--[if lt IE 9]>
        script(type='text/javscript',src='js/lib/html5shiv.js')
        script(type='text/javscript',src='js/lib/respond.js')
        <![endif]-->
        block content
        block js
            